[Desktop Entry]
Name=Graphite-nord-dark
X-KDE-PluginInfo-Name=Graphite-nord-dark
X-KDE-PluginInfo-Author=Vince Liuice
X-KDE-PluginInfo-Email=vinceliuice@hotmail.com
X-KDE-PluginInfo-License=CC BY-NC-SA 3.0
