[Desktop Entry]
Name=Graphite-dark
Comment=Graphite-dark theme for kde plasma
Encoding=UTF-8
Keywords=Desktop;Workspace;Appearance;Look and Feel;Logout;Lock;Suspend;Shutdown;Hibernate;

Type=Service

X-KDE-ServiceTypes=Plasma/LookAndFeel
X-KDE-ParentApp=
X-KDE-PluginInfo-Author=Vince Liuice
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-License=GPL3.0
X-KDE-PluginInfo-Name=com.github.vinceliuice.Graphite-dark
X-KDE-PluginInfo-Version=
X-KDE-PluginInfo-Website=https://github.com/vinceliuice/Graphite-kde-theme
X-KDE-fallbackPackage=org.kde.breeze.desktop
X-Plasma-MainScript=defaults
X-KPackage-Dependencies=kns://colorschemes.knsrc/api.kde-look.org/1667590,kns://plasma-themes.knsrc/api.kde-look.org/1667593,kns://aurorae.knsrc/api.kde-look.org/1667583,kns://icons.knsrc/api.kde-look.org/1359276,kns://wallpaper.knsrc/api.kde-look.org/1667584,kns://sddmtheme.knsrc/api.kde-look.org/1667585,kns://xcursor.knsrc/api.kde-look.org/1651517
